[submodule "Study/rmvl"]
	path = Study/rmvl
	url = https://github.com/cv-rmvl/rmvl.git
[submodule "Study/rm_control"]
	path = Study/rm_control
	url = https://github.com/rm-controls/rm_control.git
[submodule "rmvl"]
	path = rmvl
	url = https://github.com/cv-rmvl/rmvl.git
[submodule "rm_control"]
	path = rm_control
	url = https://github.com/rm-controls/rm_control.git
